$picker-item-gap: 6px
$picker-item-active-bg: $primary
$picker-item-btn-border: solid 1px $gray-210

.picker
  > *
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .picker-item
      display: block
      box-sizing: content-box
      cursor: pointer

      > input
        display: none

      &.btn
        flex-grow: 1
        flex-basis: 0
        color: $gray-510
        border: $picker-item-btn-border

        &.active
          color: $white
          background-color: $picker-item-active-bg




  &.picker-list
    > *
      flex-direction: column

      .picker-list-item
        display: flex
        align-items: center
        justify-content: space-between

        &:not(:last-child)
          margin-bottom: 15px

        .picker-item-image
          +circle(70px)
          object-fit: cover

        .picker-item.btn
          min-width: 115px
          flex-grow: 0



  &.picker-color
    > *
      align-items: center

      .picker-item-color
        +circle(50px)
        margin: $picker-item-gap

        &.active
          border: solid 6px $picker-item-active-bg
          margin: 0 $picker-item-gap - 6px

