.rs-container
  position: relative

  *
    box-sizing: border-box
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  .rs-bg
    background-color: #eee
    border: 1px solid #ededed
    height: 10px
    left: 0
    position: absolute
    top: 5px
    width: 100%
    border-radius: 3px

  .rs-selected
    background-color: #eee
    border: 1px solid #ededed
    height: 10px
    left: 0
    position: absolute
    top: 5px
    //width: 100%
    border-radius: 3px
    //background-color: $primary
    //border: 1px solid $primary
    transition: all 0.2s linear
    width: 0

  &.disabled .rs-selected
    background-color: #ccc
    border-color: #bbb

  .rs-pointer
    background-color: #fff
    border: 1px solid #bbb
    border-radius: 4px
    cursor: pointer
    height: 20px
    left: -10px
    position: absolute
    top: 0
    transition: all 0.2s linear
    width: 30px
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 6px #ebebeb, 1px 1px 4px rgba(0, 0, 0, 0.1)

  &.disabled .rs-pointer
    border-color: #ccc

  .rs-pointer
    &::before
      content: ''
      position: absolute
      width: 1px
      height: 9px
      background-color: #ddd
      left: 12px
      top: 5px

    &::after
      content: ''
      position: absolute
      width: 1px
      height: 9px
      background-color: #ddd
      top: 5px
      left: auto
      right: 12px

  &.disabled .rs-pointer
    cursor: default

  &.sliding
    .rs-selected, .rs-pointer
      transition: none

  .rs-scale
    left: 0
    position: absolute
    top: 5px
    white-space: nowrap

    span
      float: left
      position: relative

      &::before
        background-color: #ededed
        content: ""
        height: 8px
        left: 0
        position: absolute
        top: 10px
        width: 1px

  &.rs-noscale span
    &::before
      display: none

    &:first-child::before, &:last-child::before
      display: block

  .rs-scale span
    &:last-child
      margin-left: -1px
      width: 0

    ins
      color: #333
      display: inline-block
      font-size: 12px
      margin-top: 20px
      text-decoration: none

  &.disabled .rs-scale span ins
    color: #999

.rs-tooltip,
.rs-tooltip-label
  color: $gray-510
  width: auto
  min-width: 60px
  position: absolute
  left: 13px
  text-align: center
  font-size: 14px
  font-weight: 500

.rs-tooltip
  transform: translate(-50%, -20px)

.rs-tooltip-label
  transform: translate(-50%, 20px)

.rs-container.disabled .rs-tooltip
  border-color: #ccc
  color: #999