.spinner
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  z-index: 999

  &.spinner-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .spinner-icon
    +rotation
    +size(50px)
    color: $primary
    margin-bottom: 10px

.btn
  .spinner
    .spinner-icon
      +size(18px)
      color: $white
      margin: 0 10px