$item-color: $white
$item-bg-color-active: $primary
$item-bg-color: $gray-210
$item-delimiter-color: $gray-210

.stage-container
  display: flex
  align-items: stretch
  overflow-y: auto

  .stage-content
    +fading
    display: flex
    flex-direction: column

    .stage-body
      flex-grow: 1

.stage-nav
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  list-style: none
  padding: 0
  padding-top: 16px

  .stage-nav-item
    +circle(30px)
    position: relative
    display: flex
    align-items: center
    justify-content: center
    font-weight: 700
    line-height: 1
    color: $item-color
    background-color: $item-bg-color

    &:not(:last-child)
      margin-bottom: 40px

      &:after
        +size(2px, 40px)
        content: ''
        position: absolute
        left: 50%
        top: 100%
        transform: translateX(-50%)
        background-color: $item-delimiter-color

    &.completed,
    &.current
      background-color: $item-bg-color-active

    &.completed
      cursor: pointer

      &:after
        cursor: default
        background-color: $item-bg-color-active

    &.current
      &:before
        +circle(40px)
        position: absolute
        content: ''
        border: solid 2px $item-bg-color-active
        z-index: 1

      &:after
        background: linear-gradient(to bottom, $item-bg-color-active 50%, $item-delimiter-color 50%)