.form-control
  height: auto
  padding-top: 14px
  padding-bottom: 14px
  text-align: center

  &[readonly]
    background-color: $input-bg

.form
  .form-group:not(:last-child)
    margin-bottom: 15px
    
  &.was-validated
    .form-group.is-invalid
      .invalid-feedback
        display: block
        text-align: center
