@import "variables"

@import "helpers/animation"
@import "helpers/mixins"
@import "helpers/functions"

@import "~bootstrap"
@import "../fonts/Roboto/roboto"

@import "form"

/* Components */
@import "components/alert"
@import "components/picker"
@import "components/stage-container"
@import "components/spinner"
@import "components/range"

/* Icons */
//@import "~@fortawesome/fontawesome-free/scss/solid"
//@import "~@fortawesome/fontawesome-free/scss/fontawesome"

html
  font-size: $font-size

body
  background-image: url('../images/background.jpg')
  background-position: top left

.title-page
  text-align: center
  color: $primary
  font-weight: bold
  font-size: rem(24)
  line-height: rem(28)
  margin-bottom: 30px

#root
  > .container
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 100vh
    max-width: 410px

    > *
      background: $white
      padding: 50px 0
      margin: 0
      border-radius: 10px
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
