@mixin rotation()
  animation:
    name: rotation
    duration: 2s
    iteration-count: infinite
    timing-function: linear

  @keyframes rotation
    0%
      transform: rotate(0deg)
    100%
      transform: rotate(360deg)

@mixin fading()
  opacity: 1
  transition: opacity 0.3s ease-out 0.1s

  &.fading
    opacity: 0